- unless @medication
  %p
    No matches found!
- else
  %h1.medication-header
    = display_field @medication.openfda.brand_name

  -if @medication.warnings?
    %ul.accordion{ :data => {'accordion'=>true}}
      %li.accordion-navigation.warnings
        =link_to t('warnings'), "#panel1a", class: 'warnings'
        #panel1a.content
          = display_field @medication.warnings
  .row
    .large-6.columns
      %h4
        = t('manufacturer')
      %p
        = display_field @medication.openfda.manufacturer_name

    .large-6.columns
      %h4
        = t('generic_name')
      %p
        = display_field @medication.openfda.generic_name
        %em.classification
          = display_field @medication.openfda.pharm_class_epc


  .row
    .large-12.columns
      %h4
        = t('other_information')
      %ul.accordion{ :data => {'accordion'=>true}}
        %li.accordion-navigation
          =link_to t('adverse_reactions'), "#panel3a"
          #panel3a.content
            = display_field @medication.adverse_reactions
        %li.accordion-navigation
          =link_to t('indications_and_usage'), "#panel4a"
          #panel4a.content
            = display_field @medication.indications_and_usage


  .row
    .large-6.columns
      #d3data

