%h1.medication-header
  Search: #{@search.query} (#{@search.total_results} results)

- if @search.error?
  %p= @search.error_message
- else
  - @search.results.each do |result|
    %p
      %strong= result.openfda.generic_name

  = @search.results
