%h1.medication-header
  Search: #{@search.query} (#{@search.total_results} results)

- if @search.error?
  %p= @search.error_message
- else
  - @search.results.each do |result|
    %p
      %strong= link_to result.openfda.brand_name.first, medication_path(result.id)
      %br
      = result.openfda.generic_name.first
