%h1.medication-header
  #{@search.total_results} Results found for "#{@search.query}"

- if @search.error?
  = link_to @search.error_message, root_path, class:"fa fa-arrow-circle-left"
- else
  - @search.results.each do |result|
    %p
      = link_to medication_path(result.id) do
        %strong= result.openfda.brand_name.try(:first)
        %br
        = result.openfda.generic_name.try(:first)

= paginate @search
