!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "GSA Prototype"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    .top-nav
    .top-box
      = link_to image_tag('icon-logo.svg', size: '87x98', title: 'GSA Prototype'), root_path

    .row
      .small-12.columns
        = yield

